html {
    background-color: black;
    color: white;
    user-select: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  }
*{
    font-size: 18px;
    text-align: center;
    user-select: none;
}
.line {
    width: 100%;
    border-bottom: solid 2px #222;
    height: 5px;
    margin-bottom: 13px;
}
.btn {
    cursor: pointer;
    font-size: 18px;
    max-width: 250px;
    padding: 7px 25px;
    text-decoration: none;
    border: 1px solid #777;
    background: #333;
    color: white;
    display: inline-block;
}
.btn:hover {
    cursor: pointer;
    font-size: 18px;
    max-width: 250px;
    padding: 7px 25px;
    text-decoration: none;
    border: 1px solid #999;
    background: #555;
    color: white;
    display: inline-block;
}
.cantBuy{
    font-size: 18px;
    max-width: 250px;
    padding: 7px 25px;
    text-decoration: none;
    border: 1px solid #777;
    background: #222;
    color: white;
    display: inline-block;
}
.cantBuy:hover{
    font-size: 18px;
    max-width: 250px;
    padding: 7px 25px;
    text-decoration: none;
    border: 1px solid #999;
    background: #333;
    color: white;
    display: inline-block;
}
.buyed{
    cursor: pointer;
    font-size: 18px;
    max-width: 250px;
    padding: 7px 25px;
    text-decoration: none;
    border: 1px solid #777;
    background: green;
    color: white;
    display: inline-block;
}
.buyed:hover{
    cursor: pointer;
    font-size: 18px;
    max-width: 250px;
    padding: 7px 25px;
    text-decoration: none;
    border: 1px solid #999;
    background: yellowgreen;
    color: white;
    display: inline-block;
}